name: CI

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
  release:
    types: [ 'created' ]

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Execute tests
        run: ./gradlew test
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - tests
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      # Build and publish maven
      - name: Build
        run: ./gradlew build
      # Only for release
      - name: Publish to Maven repo
        if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
        run: ./gradlew publish -Pdnpm_dev_token=${{ secrets.DNPM_DEV_TOKEN }}